/*  Under 1400px wide  */
@media (max-width: 1400px) {
	
	header{
		padding: 0 15px;
	}
	.hero a{
		font-size: 12px;
	}
	section{
		padding: 0 15px;
	}
	.detail .wrapper{
		padding: 0 15px;
	}
	.resume{
		padding: 0 15px;
	}
	.overview {
		padding: 0 15px;}
}

@media (max-width: 1200px) {
	.device{
		right:-5%;
		width: 25%;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 25px 4px 22px 4px;

	}
	.device-control{
		display: none;
	}
	.hero a{
		display:none;
	}
	.card{
		min-height:482px;
	}
	
}
@media (max-width: 900px) {
	
	article{
		width:49.5%;
	}
	.hero-img{
		width:85%;
	}
	.col-third{
		width:100%;
	}
	
	description{
		margin-bottom:30px
	}
	
	.col-half{
		width:100%;
	}
	.device{
		right:-5%;
		width: 25%;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 25px 4px 22px 4px;

	}
	.device-control{
		display: none;
	}
	.secondary-work-image{
		text-align: center;
		
	}
	.card{
		min-height: 490px;
	}
	h2{
		font-size: 32px;
	}
	.caption-container{
		margin: 0 auto;
		float: none;
	}
	
	.caption{
		text-align: center;
	}

}


@media (max-width: 600px) {
	h1{
		padding-top:24px;
		padding-bottom: 2px;
		font-size: 20px;
		width: 100%;
	}	
	header{
		height:120px;
	}
	header .wrapper{
		text-align: center;
	}
	#main-nav{
		float:none;
		padding-top: 0;
	}
	
	#main-nav ul li{
		font-size: 15px;
		font-weight: 500;
	}
	
	#main-nav ul li a:hover{
		color: #4a4a4a;
	}
	
	#main-nav ul li li{
		display:none;
	}
	h2{
		font-size: 22px;
	}
	h2 .small-descrip{
		font-size:11px;
	}
	article{
		width:100%;
	}
	.col-two-thirds{
		width: 100%;
		padding-right:0;
	}
	.col-one-third{
		width: 100%;
		padding-right:0;
	}
	
	.col-third{
		padding-right:0;
	}
	
	.card{
		min-height: inherit;
		padding-bottom:20px;
	}
	.kristin-pic img{
		width: 300px;
	}
}

